# Preprocessing All Our Data #

In [1]:
#Importing our libraries
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

**Let's start off by opening our data**

In [2]:
#Open up CSV
df = pd.read_csv("SPD_Crime_Data.csv")

#Create a copy for future use
supp_df = df.copy()

**Let's take a look at the first few rows of our df**

In [3]:
df.head()

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

**Looking at our variables**

In [4]:
#Displaying more information about our df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1036236 entries, 0 to 1036235
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1036236 non-null  object
 1   Offense ID              1036236 non-null  int64
 2   Offense Start DateTime  1034989 non-null  object
 3   Offense End DateTime    583385 non-null   object
 4   Report DateTime         1036236 non-null  object
 5   Group A B               1036236 non-null  object
 6   Crime Against Category  1036236 non-null  object
 7   Offense Parent Group    1036236 non-null  object
 8   Offense                 1036236 non-null  object
 9   Offense Code            1036236 non-null  object
 10  Precinct                1036232 non-null  object
 11  Sector                  1036234 non-null  object
 12  Beat                    1036234 non-null  object
 13  MCPP                    1036236 non-null  object
 14  100 Block Address       992187 non-null   object
 15  Longitude               1036236 non-null  float64
 16  Latitude                1036236 non-null  float64
dtypes: float64(2), int64(1), object(14)
memory usage: 134.4+ MB

We can see that we have 17 variables, over a million rows of data, and that most of our variables are categorical. Next, let's check our data for null values and duplicate values.

**Checking for null values**

In [5]:
#Checking the total number of null values
df.isnull().sum()

Report Number                  0
Offense ID                     0
Offense Start DateTime      1247
Offense End DateTime      452851
Report DateTime                0
Group A B                      0
Crime Against Category         0
Offense Parent Group           0
Offense                        0
Offense Code                   0
Precinct                       4
Sector                         2
Beat                           2
MCPP                           0
100 Block Address          44049
Longitude                      0
Latitude                       0
dtype: int64

**Let's check for duplicate values**

In [6]:
#Checking for duplicates, and dropping them if they exist
df.drop_duplicates(inplace= True)

#Displaying our updated info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1036236 entries, 0 to 1036235
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1036236 non-null  object
 1   Offense ID              1036236 non-null  int64
 2   Offense Start DateTime  1034989 non-null  object
 3   Offense End DateTime    583385 non-null   object
 4   Report DateTime         1036236 non-null  object
 5   Group A B               1036236 non-null  object
 6   Crime Against Category  1036236 non-null  object
 7   Offense Parent Group    1036236 non-null  object
 8   Offense                 1036236 non-null  object
 9   Offense Code            1036236 non-null  object
 10  Precinct                1036232 non-null  object
 11  Sector                  1036234 non-null  object
 12  Beat                    1036234 non-null  object
 13  MCPP                    1036236 non-null  object
 14  100 Block Address       992187 non-null   object
 15  Longitude               1036236 non-null  float64
 16  Latitude                1036236 non-null  float64
dtypes: float64(2), int64(1), object(14)
memory usage: 142.3+ MB

## Preprocessing Our Data For Type of Crime ##

Now that we have checked our data for null values and duplicates, let's start preprocessing our data for both our models (crime type and location). We'll address the null values, manipulate our data types, and filter our data.

### 1) Null Values ###

Let's check how many null values we have for each column again

In [7]:
df.isnull().sum()

Report Number                  0
Offense ID                     0
Offense Start DateTime      1247
Offense End DateTime      452851
Report DateTime                0
Group A B                      0
Crime Against Category         0
Offense Parent Group           0
Offense                        0
Offense Code                   0
Precinct                       4
Sector                         2
Beat                           2
MCPP                           0
100 Block Address          44049
Longitude                      0
Latitude                       0
dtype: int64

So we can see that we have null values in our "Offense Start DateTime", "Offense End DateTime", "Precint", "Sector", "Beat", and "100 Block Address" variables. Let's take a closer look at some of the variables, and decide whether we want to eliminate the column entirely, or just eliminate the null values.

**Offense Start DateTime**

"Offense Start DateTime" is described as "Start date and time the offense(s) occurred". We are interested in seeing when the crime started, so we'll simply eliminate the null values.

In [8]:
#Drop all null values
df = df.dropna(subset = ["Offense Start DateTime"])

Let's check the null values for "Offense Start DateTime" again to make sure we eliminated them

In [9]:
#Checking for null values
df.isnull().sum()

Report Number                  0
Offense ID                     0
Offense Start DateTime         0
Offense End DateTime      451752
Report DateTime                0
Group A B                      0
Crime Against Category         0
Offense Parent Group           0
Offense                        0
Offense Code                   0
Precinct                       4
Sector                         2
Beat                           2
MCPP                           0
100 Block Address          43857
Longitude                      0
Latitude                       0
dtype: int64

**Offense End DateTime**

The "Offense End DateTime" variable is described as the "end date and time the offense(s) occurred..". We are not interested in when the crime ended, so we'll eliminate the column entirely.

In [10]:
#Drop the column
df =df.drop(["Offense End DateTime"], axis = 1)

#Check our null values again
df.isnull().sum()

Report Number                 0
Offense ID                    0
Offense Start DateTime        0
Report DateTime               0
Group A B                     0
Crime Against Category        0
Offense Parent Group          0
Offense                       0
Offense Code                  0
Precinct                      4
Sector                        2
Beat                          2
MCPP                          0
100 Block Address         43857
Longitude                     0
Latitude                      0
dtype: int64

**Precint, Sector and Beat**

Seattle has 5 precincts, or police station areas. They are: North, East, South, West and Southwest. Then, there are smaller geographical areas within the precints called sectors. Finally, each sector is divided into 3 smaller sections called beats, which individual patrol officers are assigned responsibility for. We'll eliminate the precinct column, to narrow down the location of crimes a little more. We'll keep the sector and beat column, but eliminate the null values.

In [11]:
#Dropping Precinct column
df =df.drop(["Precinct"], axis = 1)

In [12]:
#Dropping null values in the sector and beat column
df = df.dropna(subset = ["Sector", "Beat"])

Let's check the null values again

In [13]:
#Checking our null values
df.isnull().sum()

Report Number                 0
Offense ID                    0
Offense Start DateTime        0
Report DateTime               0
Group A B                     0
Crime Against Category        0
Offense Parent Group          0
Offense                       0
Offense Code                  0
Sector                        0
Beat                          0
MCPP                          0
100 Block Address         43857
Longitude                     0
Latitude                      0
dtype: int64

**100 Block Address**

Lastly, we have the "100 Block Address" column. Since the information in this column is censored and doesn't give us very accurate locations, we'll eliminate the entire column.

In [14]:
#Drop entire column
df = df.drop(["100 Block Address"], axis = 1)

In [15]:
#Check our null values
df.isnull().sum()

Report Number             0
Offense ID                0
Offense Start DateTime    0
Report DateTime           0
Group A B                 0
Crime Against Category    0
Offense Parent Group      0
Offense                   0
Offense Code              0
Sector                    0
Beat                      0
MCPP                      0
Longitude                 0
Latitude                  0
dtype: int64

**Now that we've eliminated all of our null values, we can now move onto cleaning other parts of our data. We'll start off by eliminating more variables based on whether we'll use them or not.**

### 2) Eliminating Other Variables ###

**We can eliminate some of the following variables:**

* Report Number, since that won't help us with future predictions
* Offense ID, a unique identifier that also won't help with future predictions
* Report DateTime, since the time a crime is reported can differ from when it actually started
* Group A B, since no additional information is given on what the different groups represent 
* Offense Parent Group, since we have a separate column for what the actual offense was
* Offense Code, since we already have the title of the offense via our Offense variable
* Longitude, since the actual longitude is censored to within 100 blocks
* Latitude, since latitude is also censored to within 100 blocks

In [16]:
#Eliminating above mentioned variables
df = df.drop(columns = ["Report Number", "Offense ID", "Report DateTime", "Group A B", "Offense Parent Group", "Offense Code", "Longitude", "Latitude"])

#Display our df
df

,Offense Start DateTime,Crime Against Category,Offense,Sector,Beat,MCPP
0,02/05/2020 10:10:00 AM,SOCIETY,Drug/Narcotic Violations,Q,Q1,MAGNOLIA
1,02/03/2020 08:00:00 AM,PROPERTY,Theft of Motor Vehicle Parts or Accessories,J,J3,ROOSEVELT/RAVENNA
2,02/02/2020 08:30:00 PM,PROPERTY,Robbery,U,U3,ROOSEVELT/RAVENNA
3,02/05/2020 01:17:00 AM,PROPERTY,Destruction/Damage/Vandalism of Property,Q,Q1,MAGNOLIA
4,02/05/2020 12:51:21 AM,SOCIETY,Driving Under the Influence,B,B2,BALLARD SOUTH
...,...,...,...,...,...,...
1036231,07/13/2013 01:00:00 AM,PROPERTY,Motor Vehicle Theft,F,F1,PIGEON POINT
1036232,06/26/2013 11:00:00 AM,PROPERTY,Motor Vehicle Theft,Q,Q3,QUEEN ANNE
1036233,02/14/2012 03:04:00 PM,PROPERTY,Shoplifting,U,U1,ROOSEVELT/RAVENNA
1036234,09/19/2010 04:59:00 PM,PROPERTY,Shoplifting,M,M3,DOWNTOWN COMMERCIAL
1036235,02/25/2010 06:00:00 PM,PROPERTY,Motor Vehicle Theft,Q,Q2,QUEEN ANNE

### 3) Data Types ###

**We need to make sure our data is in appropiate format, to use for our models. Let's take a look at the different types of data, and see if we can convert into usable formats. All of our data is categorical, but in string format. So we'll make the necessary format changes, and also look into expanding "Offense Start DateTime into more specfic time formats. Let's start off by looking at our df and variables again**

In [17]:
#Looking at our df and variables
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034987 entries, 0 to 1036235
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Offense Start DateTime  1034987 non-null  object
 1   Crime Against Category  1034987 non-null  object
 2   Offense                 1034987 non-null  object
 3   Sector                  1034987 non-null  object
 4   Beat                    1034987 non-null  object
 5   MCPP                    1034987 non-null  object
dtypes: object(6)
memory usage: 55.3+ MB

**Offense Start Date Time**

Let's start by converting our "Offense Start Date Time" into a datetime type.

In [18]:
df["Offense Start DateTime"] = df["Offense Start DateTime"].astype('datetime64[ns]')

In [19]:
#Checking to see if we converted Offense Start DateTime correctly
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1034987 entries, 0 to 1036235
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Offense Start DateTime  1034987 non-null  datetime64[ns]
 1   Crime Against Category  1034987 non-null  object
 2   Offense                 1034987 non-null  object
 3   Sector                  1034987 non-null  object
 4   Beat                    1034987 non-null  object
 5   MCPP                    1034987 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 55.3+ MB

Let's split our Offense Start DateTime column into separate columns for day, time, and year that the crime occured.

In [20]:
#Time
df['Time'] = pd.to_datetime(df['Offense Start DateTime']).dt.time

#Day
df['Day'] = pd.to_datetime(df['Offense Start DateTime']).dt.weekday

#Year
df['Year'] = pd.to_datetime(df['Offense Start DateTime']).dt.year

Let's remove the Offense Start DateTime column, since we split up our data

In [21]:
#Dropping the Offense Start DateTime column
df = df.drop(["Offense Start DateTime"], axis = 1)

Let's take a look at our new columns

In [22]:
#Look at entire df again
df

,Crime Against Category,Offense,Sector,Beat,MCPP,Time,Day,Year
0,SOCIETY,Drug/Narcotic Violations,Q,Q1,MAGNOLIA,10:10:00,2,2020
1,PROPERTY,Theft of Motor Vehicle Parts or Accessories,J,J3,ROOSEVELT/RAVENNA,08:00:00,0,2020
2,PROPERTY,Robbery,U,U3,ROOSEVELT/RAVENNA,20:30:00,6,2020
3,PROPERTY,Destruction/Damage/Vandalism of Property,Q,Q1,MAGNOLIA,01:17:00,2,2020
4,SOCIETY,Driving Under the Influence,B,B2,BALLARD SOUTH,00:51:21,2,2020
...,...,...,...,...,...,...,...,...
1036231,PROPERTY,Motor Vehicle Theft,F,F1,PIGEON POINT,01:00:00,5,2013
1036232,PROPERTY,Motor Vehicle Theft,Q,Q3,QUEEN ANNE,11:00:00,2,2013
1036233,PROPERTY,Shoplifting,U,U1,ROOSEVELT/RAVENNA,15:04:00,1,2012
1036234,PROPERTY,Shoplifting,M,M3,DOWNTOWN COMMERCIAL,16:59:00,6,2010
1036235,PROPERTY,Motor Vehicle Theft,Q,Q2,QUEEN ANNE,18:00:00,3,2010

**Crime Against Category**

Let's look at the unique values of our Crime Against Category variable, and then convert those values into numerical categories.

In [23]:
#Display value counts
df["Crime Against Category"].value_counts()

PROPERTY       771419
PERSON         157102
SOCIETY        106433
NOT_A_CRIME        33
Name: Crime Against Category, dtype: int64

In [24]:
#Converting into categories
df["Crime Against Category"] = df["Crime Against Category"].astype("category").cat.codes

Up to this point, we've been prepping the data for our model that will be used to classify the type of crime. However, let's also make a copy of the df so that we can make a different preprocessed df. We'll use this df later to classify location (Beat) of the crime.

In [25]:
#Making copy of df for later use
df_beat = df.copy()

**Sector, Beat, and MCPP**

Let's also numerically code our Sector, Beat, and MCPP variables

In [26]:
#Converting values into categories
df["Sector"] = df["Sector"].astype("category").cat.codes
df["Beat"] = df["Beat"].astype("category").cat.codes
df["MCPP"] = df["MCPP"].astype("category").cat.codes

**Time, Day, and Year**

Let's change year to a int type, so we can filter our data by year

In [27]:
#Changing our data to int type
df["Year"] = df["Year"].astype('str').astype('int64')

Let's also filter our data and only look at the past 4 years, to make analysis easier, and to reduce runtime.

In [28]:
#Filtering our data by year
df = df[df["Year"] >= 2020]

Let's convert our Time, Day and Year variables into categorical type

In [29]:
#Converting values into numerical categories
pd.options.mode.chained_assignment = None
df["Time"] = df["Time"].astype("category").cat.codes
df["Day"] = df["Day"].astype("category").cat.codes
df["Year"] = df["Year"].astype("category").cat.codes

Let's take a look at our dataset so far

In [30]:
#Display df
df

,Crime Against Category,Offense,Sector,Beat,MCPP,Time,Day,Year
0,3,Drug/Narcotic Violations,18,39,33,835,2,0
1,2,Theft of Motor Vehicle Parts or Accessories,11,22,50,661,0,0
2,2,Robbery,22,50,50,1753,6,0
3,2,Destruction/Damage/Vandalism of Property,18,39,33,124,2,0
4,3,Driving Under the Influence,5,3,4,77,2,0
...,...,...,...,...,...,...,...,...
1036220,2,Motor Vehicle Theft,19,42,34,508,3,2
1036221,1,Simple Assault,9,15,51,1121,4,2
1036222,1,Simple Assault,9,14,45,938,1,2
1036223,1,Simple Assault,9,15,56,1378,0,2
1036224,1,Fondling,7,10,53,905,5,1

**Offense**

Let's look at our value counts for our "Offense" column

In [31]:
df["Offense"].value_counts()

Burglary/Breaking & Entering                   30163
Theft From Motor Vehicle                       28530
Destruction/Damage/Vandalism of Property       22204
All Other Larceny                              19870
Motor Vehicle Theft                            18335
Theft of Motor Vehicle Parts or Accessories    16005
Simple Assault                                 15249
Shoplifting                                    11902
Identity Theft                                 11193
Aggravated Assault                              9922
Intimidation                                    9103
Trespass of Real Property                       6785
Theft From Building                             5759
Robbery                                         5239
Driving Under the Influence                     3523
Credit Card/Automated Teller Machine Fraud      2271
Stolen Property Offenses                        2231
Weapon Law Violations                           2130
Drug/Narcotic Violations                        2045
False Pretenses/Swindle/Confidence Game         1699
Wire Fraud                                      1461
Counterfeiting/Forgery                           951
Arson                                            604
Kidnapping/Abduction                             554
Rape                                             548
Fondling                                         542
Extortion/Blackmail                              348
Impersonation                                    322
Sodomy                                           276
Pocket-picking                                   265
Hacking/Computer Invasion                        207
Family Offenses, Nonviolent                      187
Embezzlement                                     148
Murder & Nonnegligent Manslaughter               147
Sexual Assault With An Object                    142
Drug Equipment Violations                        128
Pornography/Obscene Material                     123
Animal Cruelty                                   107
Bad Checks                                       104
Purchasing Prostitution                           83
Purse-snatching                                   73
Liquor Law Violations                             52
Theft From Coin-Operated Machine or Device        51
Curfew/Loitering/Vagrancy Violations              42
Peeping Tom                                       30
Welfare Fraud                                     29
Human Trafficking, Commercial Sex Acts            28
Prostitution                                      24
Statutory Rape                                    20
Drunkenness                                       17
Assisting or Promoting Prostitution               11
Justifiable Homicide                               9
Negligent Manslaughter                             8
Betting/Wagering                                   2
Human Trafficking, Involuntary Servitude           2
Bribery                                            2
Operating/Promoting/Assisting Gambling             1
Incest                                             1
Name: Offense, dtype: int64

Let's filter our data by only including offenses with more than 5000 counts

In [32]:
#Filtering data by only including offenses with more than 5000 counts
df = df[~df['Offense'].isin(df['Offense'].value_counts().lt(5000).pipe(lambda s: s[s].index))]

### Let's take a look at our final crime type model data ###

In [33]:
#Displaying our final dataframe
df

,Crime Against Category,Offense,Sector,Beat,MCPP,Time,Day,Year
1,2,Theft of Motor Vehicle Parts or Accessories,11,22,50,661,0,0
2,2,Robbery,22,50,50,1753,6,0
3,2,Destruction/Damage/Vandalism of Property,18,39,33,124,2,0
5,2,Shoplifting,14,29,16,2005,1,0
6,2,Destruction/Damage/Vandalism of Property,11,22,44,1753,1,0
...,...,...,...,...,...,...,...,...
1036218,2,Theft of Motor Vehicle Parts or Accessories,13,28,29,0,2,2
1036220,2,Motor Vehicle Theft,19,42,34,508,3,2
1036221,1,Simple Assault,9,15,51,1121,4,2
1036222,1,Simple Assault,9,14,45,938,1,2
1036223,1,Simple Assault,9,15,56,1378,0,2

In [34]:
#Displaying our variables and variable types
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210259 entries, 1 to 1036223
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Crime Against Category  210259 non-null  int8
 1   Offense                 210259 non-null  object
 2   Sector                  210259 non-null  int8
 3   Beat                    210259 non-null  int8
 4   MCPP                    210259 non-null  int8
 5   Time                    210259 non-null  int16
 6   Day                     210259 non-null  int8
 7   Year                    210259 non-null  int8
dtypes: int16(1), int8(6), object(1)
memory usage: 4.8+ MB

We'll use this final df for our crime type model. We can see that all the rest of our data variables are numerically coded except for Offense, since it's our target variable. After saving our updated df to a CSV file, we'll work on preprocessing our data for our separate crime location model

**Saving As CSV File**

We'll save the updated dataframe, for use in our other jupyter notebook. We'll save it as a CSV file, then open it in our main notebook.

In [35]:
df.to_csv('preprocessed_data.csv', encoding='utf-8', index=False)

# Preprocessing Our Data For Location of Crime #

Let's take a look at our df that we saved from earlier. Our df contains the Crime Against Category, Offense, Sector, Beat, MCPP, Time, Day, and Year columns. We'll preprocess it similarly to our previous df, but this time we'll set up beat to be our target variable.

In [36]:
#Taking a look at our df
df_beat

,Crime Against Category,Offense,Sector,Beat,MCPP,Time,Day,Year
0,3,Drug/Narcotic Violations,Q,Q1,MAGNOLIA,10:10:00,2,2020
1,2,Theft of Motor Vehicle Parts or Accessories,J,J3,ROOSEVELT/RAVENNA,08:00:00,0,2020
2,2,Robbery,U,U3,ROOSEVELT/RAVENNA,20:30:00,6,2020
3,2,Destruction/Damage/Vandalism of Property,Q,Q1,MAGNOLIA,01:17:00,2,2020
4,3,Driving Under the Influence,B,B2,BALLARD SOUTH,00:51:21,2,2020
...,...,...,...,...,...,...,...,...
1036231,2,Motor Vehicle Theft,F,F1,PIGEON POINT,01:00:00,5,2013
1036232,2,Motor Vehicle Theft,Q,Q3,QUEEN ANNE,11:00:00,2,2013
1036233,2,Shoplifting,U,U1,ROOSEVELT/RAVENNA,15:04:00,1,2012
1036234,2,Shoplifting,M,M3,DOWNTOWN COMMERCIAL,16:59:00,6,2010
1036235,2,Motor Vehicle Theft,Q,Q2,QUEEN ANNE,18:00:00,3,2010

### Preprocessing our variables ###

**Offense**

Let's convert our offense types into numericalcategories

In [37]:
#Converting into category type
df_beat["Offense"] = df_beat["Offense"].astype("category").cat.codes

**Sector, MCPP**

Let's convert these variables into numerical categories

In [38]:
#Converting into categories
df_beat["Sector"] = df_beat["Sector"].astype("category").cat.codes
df_beat["MCPP"] = df_beat["MCPP"].astype("category").cat.codes

**Time, Day, Year**

First, let's change year into an int type, so we can filter by year

In [39]:
#Changing Year from string to int type
df_beat["Year"] = df_beat["Year"].astype('str').astype('int64')

Again, we'll only look at the past 4 years to make analysis and runtime more feasible

In [40]:
df_beat = df_beat[df_beat["Year"] >= 2020]

Let's convert our Time, Day and Year variables into numerical categories

In [41]:
#Converting values into categories
pd.options.mode.chained_assignment = None
df_beat["Time"] = df_beat["Time"].astype("category").cat.codes
df_beat["Day"] = df_beat["Day"].astype("category").cat.codes
df_beat["Year"] = df_beat["Year"].astype("category").cat.codes

**Beat**

Lastly, let's look at the value counts for our target variable:

In [42]:
#Looking at beat value counts
df_beat["Beat"].value_counts()

U3         7472
U1         7451
K3         6971
B2         6671
B3         6349
R2         6282
Q3         6201
L2         6160
B1         6141
U2         6123
D2         5900
Q2         5853
E1         5683
E3         5453
D3         5452
W2         5256
N2         5209
D1         4803
E2         4783
C1         4633
R1         4564
N3         4349
J3         4220
M1         4182
Q1         4182
L1         4130
R3         4120
M3         4056
W1         4012
C3         3922
J2         3918
F2         3901
L3         3817
G2         3745
F1         3587
W3         3575
C2         3515
K1         3435
G3         3416
K2         3405
F3         3377
S2         3286
N1         3201
M2         3181
J1         3157
O3         3034
G1         3017
S3         3016
O1         2819
S1         2795
O2         2378
UNKNOWN    1589
99           53
OOJ           5
<Null>        2
Name: Beat, dtype: int64

**Lastly, let's filter out beats with less than 5,000 values:**

In [43]:
#Filtering out beats with less than 5000 crimes 
df_beat = df_beat[~df_beat['Beat'].isin(df_beat['Beat'].value_counts().lt(5000).pipe(lambda s: s[s].index))]

**Let's take a look at our newly preprocessed crime location df:**

In [44]:
#Display new crime location df
df_beat

         Crime Against Category  Offense  Sector Beat  MCPP  Time  Day  Year
2                             2       44      22   U3    50  1753    6     0
4                             3       13       5   B2     4    77    2     0
8                             3       13      13   L2    43  1609    1     0
15                            2        9       8   E1     8  1715    1     0
18                            2       46      22   U2    58  1288    1     0
...                         ...      ...     ...  ...   ...   ...  ...   ...
1036209                       2       33      24   W2     1   191    5     3
1036210                       2       33      13   L2    43  1902    1     3
1036216                       2       33       5   B1     4  1339    4     2
1036219                       2       50      12   K3    11    39    3     2
1036224                       1       21       7   D3    53   905    5     1

[104627 rows x 8 columns]

In [60]:
#Looking at our final df and its variables
df_beat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104627 entries, 2 to 1036224
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Crime Against Category  104627 non-null  int8
 1   Offense                 104627 non-null  int8
 2   Sector                  104627 non-null  int8
 3   Beat                    104627 non-null  object
 4   MCPP                    104627 non-null  int8
 5   Time                    104627 non-null  int16
 6   Day                     104627 non-null  int8
 7   Year                    104627 non-null  int8
dtypes: int16(1), int8(6), object(1)
memory usage: 2.4+ MB

**Saving as CSV file**

Lastly, let's make a csv for use in our notebooks. We'll use this new preprocessed df in our crime location model in our main notebook.

In [45]:
df_beat.to_csv('seattle_crime_beat.csv', encoding='utf-8', index=False)

# Preprocessing Our Data For Supplemental Analysis #

We'll use this last df for analyzing both crime location and type of offense later on in our main notebook, without the use of ML models. We'll need to preprocess our new df similarly as before. Let's take a look at our (copy) of our initial df.

In [46]:
#Displaying first few rows of df
supp_df.head()

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

**Extracting year and filtering by year**

We'll do the same thing we did for the last 2 dfs, by looking at the year variable and filtering to only include the past 4 years.

In [47]:
#Converting to datetime type
supp_df["Offense Start DateTime"] = supp_df["Offense Start DateTime"].astype('datetime64[ns]')

In [48]:
#Let's extract the year from the datetime object
supp_df['Year'] = pd.to_datetime(supp_df['Offense Start DateTime']).dt.year

In [49]:
#Let's filter by year
supp_df = supp_df[supp_df["Year"] >= 2020]

**Let's change our df to only include "Offense" and "Beat"**

When we analyze our data without ML models, we want to look at both crime type and crime location. Therefore we'll only be looking at the Beat and Offense variables, since those best represent crime type and crime location.

In [50]:
supp_df = supp_df[["Beat", "Offense"]]

**Let's take a look at our new df**

In [51]:
#Looking at our new df
supp_df

        Beat                                      Offense
0         Q1                     Drug/Narcotic Violations
1         J3  Theft of Motor Vehicle Parts or Accessories
2         U3                                      Robbery
3         Q1     Destruction/Damage/Vandalism of Property
4         B2                  Driving Under the Influence
...      ...                                          ...
1036220   R1                          Motor Vehicle Theft
1036221   F2                               Simple Assault
1036222   F1                               Simple Assault
1036223   F2                               Simple Assault
1036224   D3                                     Fondling

[231809 rows x 2 columns]

**Checking for null values**

In [52]:
#Check number of null values
supp_df.isnull().sum()

Beat       2
Offense    0
dtype: int64

In [53]:
#Dropping null values
supp_df = supp_df.dropna(subset = ["Beat"])

In [54]:
#Checking again 
supp_df.isnull().sum()

Beat       0
Offense    0
dtype: int64

**Filtering by value counts for both Beat and Offense**

We want to filter our data again, to only include crime offenses with more than 5000 counts, and locations where more than 5000 crimes occured.

In [55]:
#Filtering our data by only including offenses with more than 5000 counts
supp_df = supp_df[~supp_df['Offense'].isin(supp_df['Offense'].value_counts().lt(5000).pipe(lambda s: s[s].index))]
supp_df = supp_df[~supp_df['Beat'].isin(supp_df['Beat'].value_counts().lt(5000).pipe(lambda s: s[s].index))]

**Let's take a look at our final supplemental analysis df**

In [56]:
#Displaying final df
supp_df

        Beat                   Offense
2         U3                   Robbery
18        U2               Shoplifting
19        Q3  Theft From Motor Vehicle
22        Q3         All Other Larceny
23        Q2  Theft From Motor Vehicle
...      ...                       ...
1036195   U1       Motor Vehicle Theft
1036200   B3       Motor Vehicle Theft
1036201   B2  Theft From Motor Vehicle
1036210   L2       Motor Vehicle Theft
1036216   B1       Motor Vehicle Theft

[81545 rows x 2 columns]

**Adding a constant column, for future processing**

We'll add an extra column of 1's for further proccessing and grouping that we'll be doing in our main notebook.

In [57]:
#Adding extra column of 1's to our df
supp_df["Count"] = 1

**Saving to csv**

Lastly, let's make a csv for use in our main notebook. We'll use this new df in our supplemental analysis in the main notebook.

In [58]:
#Save as CSV file
supp_df.to_csv('supplemental.csv', encoding='utf-8', index=False)